// Theme Toggle Component

.theme-toggle {
  @include btn-reset;
  width: $size--unit * 5;
  height: $size--unit * 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: $color--white;
  border: 1px solid $color--light;
  border-radius: $radius--full;
  cursor: pointer;
  transition: all $transition--fast;
  flex-shrink: 0;

  &:hover {
    transform: scale(1.1);
    box-shadow: $shadow--md;
  }

  &:focus-visible {
    outline: 2px solid $color--primary;
    outline-offset: 2px;
  }

  @include sm {
    width: $size--unit * 4;
    height: $size--unit * 4;
    font-size: 16px;
  }
}
